<a href="https://colab.research.google.com/github/YasuharuSuzuki/23_programing1/blob/main/" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Section3-2 値と演算子 (教科書P.48)

## 数値
### 整数を使った計算

In [1]:
a = -3
b = 0
c = 5

# 1. aとbとcを足し合わせる
a + b + c

2

#### 浮動小数点

In [2]:
a = 0.08
b = 98.5
c = -3.5
print(a, b, c)

0.08 98.5 -3.5

#### 整数部または小数点以下の0を省略した書き方

In [3]:
a = .99
b = 10.
print(a, b)

0.99 10.0

#### 指数表記の浮動小数点数

In [4]:
1.23e+7

12300000.0

In [5]:
9.6e-4

0.00096

### 浮動小数点の計算
#### 整数と浮動小数点の計算

In [6]:
# 2. 10.3と0.5を足し合わせる
10.3 + 0.5

10.8

In [7]:
10 - 1.23

8.77

In [8]:
120 * 0.1

12.0

In [9]:
1.08 * 100

108.0

#### 整数同士の割り算

In [10]:
# 3. 120を2で割る
120 / 2

60.0

#### 小数点以下を丸めた整数にする

In [11]:
round(1.4)

1

In [12]:
round(2.5)

2

In [13]:
round(2.6)

3

#### 小数点以下を丸めた整数にする

In [14]:
round(23.574, 1)

23.6

### ２進数、８進数、16進数
####  ２進数、８進数、16進数

In [15]:
0b0101

5

In [16]:
0o011

9

In [17]:
0xFF

255

#### 2進数の足し算

In [18]:
0b0101 + 0b0010

7

#### 2進数の計算結果を文字列で表示する

In [19]:
bin(0b0101 + 0b0010)

'0b111'

### 複素数(虚数)　(教科書P.52)

#### 1jの2乗が-1になるかどうか確かめる

In [20]:
1j * 1j

(-1+0j)

#### 複素数同士の足し算

In [21]:
a = (1.5 + 3j)
b = (2 + 1j)
a + b

(3.5+4j)

#### 複素数同士の掛け算

In [22]:
(10+2j) * (2+5j)

(10+54j)

#### 複素数の実部と虚部を取り出す

In [23]:
v = 3 + 2j
v.real

3.0

In [24]:
v.imag

2.0

#### 複素数をcomplex(re, im)で作る

In [25]:
v = complex(3, 2)
v

(3+2j)

### 数値演算子　(教科書P.54)
#### 350個のボールを12個ずつ箱に入れる

In [26]:
all_ball = 350
per = 12

# 4. all_ballをperで割り、商を算出する（結果は整数）
all_ball // per

29

In [27]:
# 5. all_ballをperで割った余りを算出する
all_ball % per

2

#### 2の3乗

In [28]:
2 ** 3

8

## 文字列(教科書P.55)
#### 文字列の例

In [29]:
msg = "こんにちは"
where = "箱根"
language = "Python 3"
print(msg, where, language)

こんにちは 箱根 Python 3

#### ダブルクォートを含んだ文字列

In [30]:
ai = 'いわゆる"人工知能"です'
print(ai)

いわゆる"人工知能"です

#### シングルクォートを含んだ文字列

In [31]:
ai = "いわゆる'人工知能'です"
print(ai)

いわゆる'人工知能'です

### エスケープシーケンス
#### 改行を含んだ文字列

In [32]:
# 6. 改行コードを含んだ文字列を作成
colors = "選んだ色は\n緑\n黄色"
print(colors)

選んだ色は
緑
黄色

#### ダブルクォートを含んだ文字列

In [33]:
# 7. エスケープシーケンスでダブルクォートを含んだ文字列を作成
msg = "それは\"Python 3\"です。"
print(msg)

それは"Python 3"です。

### 複数行の文字列
#### """で囲んだ複数行の文字列

In [34]:
poem = """ほととぎす
鳴きつる方を眺めれば
ただ有明の月ぞ残れる"""
poem

'ほととぎす\n鳴きつる方を眺めれば\nただ有明の月ぞ残れる'

In [35]:
print(poem)

ほととぎす
鳴きつる方を眺めれば
ただ有明の月ぞ残れる

In [36]:
neko = "吾輩は猫である。\n名前はまだ無い。"
print(neko)

吾輩は猫である。
名前はまだ無い。

## 文字列演算子(教科書P.57)
### 文字列の連結
#### 文字列を連結する

In [37]:
# 8. "鈴木" と "さん" を”＋”演算子で連結した文字列を作成
name = "鈴木" + "さん"
name

'鈴木さん'

#### 変数a、b、cに入れた文字列連結した文字列を作る

In [38]:
a = "Pen"
b = "Pine"
c = "Apple"
d = a + b + c
d

'PenPineApple'

### 数値と文字列を連結する
#### 数値と文字列を連結するとエラーになる

In [39]:
price = 2500 + "円"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

#### 数値を文字列に変換して連結する

In [40]:
# 9. 数値を文字列に変換して連結した文字列を作成
price = str(2500) + "円"
price

'2500円'

#### 計算結果を文字列に変換して連結する

In [41]:
tanka = 80
kosu = 3
price = str(tanka * kosu) + "円"
price

'240円'

### 繰り返し文字
#### 複数文字の繰り返しを作る

In [42]:
"a" * 3

'aaa'

In [43]:
"abc" * 3

'abcabcabc'

#### 文字の繰り返しを棒グラフの代わりにする

In [44]:
symbol = "*"
print("東京", symbol * 12)

東京 ************

In [45]:
print("金沢", symbol * 6)

金沢 ******

## []で文字列を取り出す(教科書P.59)
#### 文字を取り出す

In [46]:
id = "ab1cd9x"

# 10. 3文字目を取り出す
id[2]

'1'

In [47]:
# 11. マイナス値でインデックスを指定して最後の文字を取り出す
id[-1]

'x'

#### 文字位置の値を変更できない

In [48]:
id[2] = 'w'

TypeError: 'str' object does not support item assignment

### 部分文字列を取り出す(スライス)
#### 部分文字列を取り出す

In [49]:
s = "The quick brown fox jumps."
s[:]

'The quick brown fox jumps.'

In [50]:
# 12. 5文字目以降を取り出す
s[4:]

'quick brown fox jumps.'

In [51]:
s[4:4+5]

'quick'

In [52]:
s[:-7]

'The quick brown fox'

#### 文字列の長さを超えた範囲を指定する

In [53]:
s = "The quick brown fox jumps over the lazy dog."
len(s)

44

In [54]:
s[:50]

'The quick brown fox jumps over the lazy dog.'

### ステップがある書式
#### 文字列から１つ飛ばしで文字を取り出す

In [55]:
num = "0123456789"
num[::2]

'02468'

#### 4文字目から1文字飛ばしで取り出す

In [56]:
data = "abc0123456789"
data[3::2]

'02468'

#### 文字列の後ろから1つ飛ばしで文字を取り出す

In [57]:
num = "0123456789"
num[::-2]

'97531'

#### 文字列を逆順にする

In [58]:
s = "あいうえおかきくけこ"
s[::-1]

'こけくきかおえういあ'

## 論理値(ブール値)
## 比較演算子

#### 値が等しければTrue、等しくなければFalse

In [59]:
a = 3; b = 3; c = 5

# 13. aとｂが等しいかを比較演算子で求め、print()してみましょう。
print(a == b)

True

In [60]:
print(a == c)

False

#### 値が等しくない時 True、等しい時 False

In [61]:
a = 3; b = 3; c = 5
print(a != b)

False

In [62]:
print(a != c)

True

#### aがbより大きい時True

In [63]:
a = 60; b = 45
print(a > b)

True

#### aが50以上のときTrue

In [64]:
a = 50
print(a >= 50)

True

### 1個の変数の値を比較する場合
#### ageが16なのでTrue

In [65]:
age = 16
13 <= age < 20

True

## 論理演算子(教科書P.63)
### 論理積

In [66]:
True and True

True

In [67]:
True and False

False

#### 論理和

In [68]:
True or True

True

In [69]:
True or False

True

In [70]:
False or False

False

#### 否定

In [71]:
not True

False

In [72]:
not False

True

#### 変数aが50以上かつ100以下の時True。80なのでTrue

In [73]:
a = 80
(a >= 50) and (a <= 100)

True

#### 変数aが50以上かつ100以下の時True。110なのでFalse

In [74]:
a = 110
(a >= 50) and (a <= 100)

False

#### 変数a、bのどちらかが"OK"ならばTrue。変数bが"OK"なのでTrue

In [75]:
a = "NG"; b = "OK"
(a == "OK") or (b == "OK")

True

## ビット演算子(教科書P.65)
### 論理積、論理和、排他的論理和
#### 左シフト、右シフト

In [76]:
a = 0b001011
a

11

In [77]:
a << 1

22

#### 左にシフトされた値を2進数表記で確認する

In [78]:
a = 0b001011
bin(a << 1)

'0b10110'

### ビットマスク
#### ビットマスクで下3桁を取り出す

In [79]:
a = 0b100110
bin(a & 0b111)

'0b110'

#### 途中の２ビットを取り出す

In [80]:
a = 0b10101
bin((a>>1) & 0b11) # 1ビット右シフトして11でマスクする。つまり２〜３ビット目の値を取り出している。

'0b10'

## 型を変換する(P.67)
### 型を調べる
#### 値の型を調べる

In [81]:
type(1)

int

#### float型とstr型

In [82]:
n = 12.3; name = "山田"
type(n)

float

In [83]:
type(name)

str

### 数値を文字列に型変換する
#### 文字列と数値を＋演算子で連家しようとするとエラーになる

In [84]:
length = 10 * 1.23
ans = "長さ" * length + "cm" # 文字列と数値を＋演算子で連家しようとするとエラーになる

TypeError: can't multiply sequence by non-int of type 'float'

#### 数値をstr()で文字列にして連結する

In [85]:
# 14. 数値をstr()で文字列にして連結してみましょう
ans = "長さ" + str(length) + "cm"
ans

'長さ12.3cm'

#### str()で論理値を文字列に型変換する

In [86]:
ans = "5<10は" + str(5<10) + "です"
ans

'5<10はTrueです'

### いろいろな型変換
#### 文字列を数値に型変換して数値計算する

In [87]:
int("250") * 3

750

In [88]:
float("1.5") + 0.2

1.7

#### 浮動小数点を整数化すると小数点以下は切り捨てられます

In [89]:
int(12.9)

12