<a href="https://colab.research.google.com/github/YasuharuSuzuki/23_programing1/blob/main/" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Section 4-4 文字列のメソッド(教科書P.86)

## 文字列のメソッド

|  メソッド  |  処理  | 使用例 |
| :---- | :---- | :---- |
| upper()  | 大文字に変換  | "Apple iPhoneとGoogle Android" → "APPLE IPHONEとGOOGLE ANDROID" |
| lower()  | 小文字に変換  | "Apple iPhoneとGoogle Android" → "apple iphoneとgoogle android" |
| capitalize()  | 文章の先頭を大文字に変換  | "may the force be with you!" → "May the force be with you!" |
| title()  | 単語の先頭を大文字に変換  | "may the force be with you!" → "May The Force Be With You!" |
| count()  | 文字列中に特定の文字列が含まれる個数を返す  | "apple pie".count("p") → 3 |
| find()  | 文字が見つかった最初の位置を返す  | "apple pie".count("e") → 4 |
| rfind()  | 文字を後ろから検索し、見つかった最初の位置を返す  | "apple pie".count("e") → 8 |
| replace()  | 文字列を置換する  | "employee".replace("e","x") → "xmployxx" |
| strip()  | 文字列の前後にある空行と改行コードを取り除く  | "   hello   \n".strip() → "hello" |
| rstrip()  | 末尾にある特定文字を取り除く  | "2, 3, 4,\n".strip() → "2, 3, 4" |
| format() | 文字列に値を埋め込む(format) | "チューリップは{}と{}と{}でした。".format("赤","青","黄色") → 'チューリップは赤と青と黄色でした。' |
| fstring | 文字列に値を埋め込む(fstring) | name="高橋"; age="23" f"{name}選手、年齢{age}" → '高橋選手、年齢23' |

### 大文字小文字を変換する

In [1]:
s = "Apple iPhoneとGoogle Android"

# 1. 大文字に変換する
s.upper()

'APPLE IPHONEとGOOGLE ANDROID'

In [2]:
s.lower()

'apple iphoneとgoogle android'

### １文字目を大文字にする

In [3]:
s = "may the force be with you!"
s.capitalize()

'May the force be with you!'

In [4]:
s.title()

'May The Force Be With You!'

## 文字列中に特定の文字列が含まれる個数を返す
### 文字列に含まれる"p"、"どど"の文字を数える

In [5]:
s = "apple pie"

# 2. p の数をカウントする
s.count("p")

3

In [6]:
"どっどどどどうど".count("どど")

2

### 先頭から４文字目までに含まれる"p"の個数

In [7]:
s.count("p", 0, 4)

2

### 文字が見つかった位置を返す

In [8]:
s.find("e")

4

0 スタートの位置を整数値で返します。5番目は 4 を返します。

In [9]:
s.find("x")

-1

見つからなかった時は -1 を返します。

### 文字を後ろから検索する

In [10]:
s.rfind("e")

8

## 文字列を置換する

In [11]:
s = "employee"
s.replace("e","x")

'xmployxx'

In [12]:
sj = "サクラ咲く"
sj.replace("咲く","舞う風")

'サクラ舞う風'

## 前後の余分な文字を取り除く

### 文字列の前後にある空白と改行コードを取り除く

In [13]:
t = "   hello   \n"

# 3. 文字列の前後にある空白と改行コードを取り除く
t.strip()

'hello'

### 末尾にある連続した"."を取り除く

In [14]:
t = "abc......"
t.strip(".")

'abc'

### 末尾にあるカンマ、ピリオド、改行コードを取り除く

In [15]:
t1 = "2, 3, 4,"
t1.rstrip(".,\n")

'2, 3, 4'

In [16]:
t2 = "Hello World.\n"
t2.rstrip(".,\n")

'Hello World'

## 文字列に値を埋め込む(教科書P.90)
### 文字列に引数の値を埋め込む(format)

In [17]:
s = "チューリップは{}と{}と{}でした。"

# 4. 文字列に値を埋め込む
s.format("赤","青","黄色")

'チューリップは赤と青と黄色でした。'

### 埋め込む値に数値がある場合

In [18]:
name = "高橋"
age = 23
point = 102.5
s = "{}選手、年齢{}、得点{}でした。"
text = s.format(name, age, point)
text

'高橋選手、年齢23、得点102.5でした。'

### 文字列に値を埋め込む(fstring)

In [19]:
f"{name}選手、年齢{age}、得点{point}でした。"

'高橋選手、年齢23、得点102.5でした。'

### 対応する引数の順番を番号で指定する

In [20]:
"得点{2}、{0}、{1}歳".format(name, age, point)

'得点102.5、高橋、23歳'

### 埋め込む引数をキーワード引数で指定する

In [21]:
"{name}選手、年齢{age}、得点{point}でした。".format(name="高橋", age=23, point=102.5)

'高橋選手、年齢23、得点102.5でした。'

## 値の書式指定(教科書P.91)
#### {値 : 書式} の形で書式を指定できます

### 数値を位取りして埋め込む(fstring)

In [22]:
tokyo = 123456000
kyoto = 53900
print(f"東京{tokyo:,}、京都{kyoto:,}")

東京123,456,000、京都53,900

### 数値を位取りして埋め込む(format)

In [23]:
"東京{:,}、京都{:,}".format(tokyo, kyoto)

'東京123,456,000、京都53,900'

### 小数点以下の桁数指定(fstring)

In [24]:
length = 25.34
thickness = 5.62
f"長さ{length: .1f}cm、厚み{thickness:.0f}mm"

'長さ 25.3cm、厚み6mm'

### 小数点以下の桁数指定(format)

In [25]:
"長さ{:.1f}cm、厚み{:.0f}mm".format(length, thickness)

'長さ25.3cm、厚み6mm'

### 位取りと小数点以下２位までの表示

In [26]:
num = 2345.032
print(f"{num:,.2f}")

2,345.03

### 値の位置揃え

### 10文字フィールドに右詰めで表示する

In [27]:
num1 = 123.4
num2 = 56.9
num3 = 3040.1

In [28]:
print(f"{num1:>10.1f}")

     123.4

In [29]:
print(f"{num2:>10.1f}")

      56.9

In [30]:
print(f"{num3:>10.1f}")

    3040.1